footer {
  background-color: rgb(209, 206, 206);
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
 img {
    width: 40%;
 }
 video {
    width: 40%;
 }
}

@media screen and (min-width: 600px) {
 img {
    width: 20%;
 }
  video {
    width: 20%;
 }
}

 /* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #c9aee9;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  display: block;
}

.headertitle {
    font-size: 20px !important;
    font-weight: bold !important;
}

.sidenav h1 {
  padding: 0px 0px 0px 16px;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #dbdbdb;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}