footer {
  background-color: rgb(209, 206, 206);
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 400px) {
 img {
    width: 40%;
 }
 video {
    width: 40%;
 }
}

@media screen and (min-width: 400px) {
 img {
    width: 20%;
 }
  video {
    width: 20%;
 }
}